{{ MFE_HOST }}{$default_site_port} {
    respond / 204
    request_body {
        max_size 2MB
    }
    encode gzip
    redir /api/mfe_config/v1* {{ "https" if ENABLE_HTTPS else "http" }}://{{ LMS_HOST }}{uri}
    import proxy "mfe:8002"
}
